body{
	background-color: #212121;
	font-family: 'Arial';
	font-size: 18px;
}

ul {
	background-color: black;
	padding : 10px;
	
}

ul li{
	margin-right: 10px;
	display: inline;
	cursor: pointer;
	color: white;	
}

ul li:hover{
	color: #DB5C1C;
}
#uva-clock{
	width:200px;	
}

#uva-clock-container{
	width:600px;
	height:200px;	
}

#uva-clock-container .uva-clock-box{
	width: 150px;
	height: 150px;
	float:left;
}